{% extends 'base.html' %}

{% block head %}
<title>Student Dashboard</title>
{% endblock head %}

{% block body %}
<div class="row">
    <div class="col-6">
        <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="dashboard">
                <div class="btn btn-danger">Danger</div>
            </div>
        </div>
    </div>
    <div class="col-6" style="height: 100vh;">
        <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="card bg-transparent text-white border-white mb-3" style="max-width: 18rem;">
                <div class="card-header border-white">Header</div>
                <div class="card-body text-white">
                    <h5 class="card-title">Dark card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock body %}