{% extends 'base.html' %}

{% block head %}
<title>Attendence Tracker - Login</title>
{% endblock head %}

{% block body %}

<div id="container" class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="login-container">

        <div class="d-flex justify-content-center mb-5">
            <div class="login-title">Attendence Tracker</div>
        </div>

        <div class="d-flex justify-content-center">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnstudent" autocomplete="off" checked>
                <label class="btn btn-outline-success btn-lg" for="btnstudent">Student</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnteacher" autocomplete="off">
                <label class="btn btn-outline-success btn-lg" for="btnteacher">Teacher</label>
            </div>
        </div>

        <div class="form-floating m-5">
            <input type="Username" class="form-control" id="floatingInput" placeholder="Username">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating m-5">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-lg">Log In</button>
        </div>
    </div>
</div>


{% endblock body %}